<div class="container">
    <footer class="py-5">
        <div class="row">

            <div class="col-6 col-md-2 mb-3">
                <h5>Компания</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">О компании</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Новости</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Вакансии</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Партнерам</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Покупателям</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Статус заказа</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Способы оплаты</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Как оформить
                        заказ</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Обмен, возврат,
                        гарантия</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Оставайтесь на связи</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">Номер для звонка:
                        <br>8 (999) 777-66-55</li>
                    <li class="nav-item mb-2">Электронная почта:
                        market_official@ourmail.com</li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Подписаться на нашу рассылку</h5>
                    <p>Ежемесячный дайджест нового и интересного от нас.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Введите Ваш Email">
                        <button class="btn btn-outline-primary" type="button">Подписаться</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2023 Arduino, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a></li>
            </ul>
        </div>
    </footer>
</div>
